/*NavBar*/
.topnav {
    overflow: hidden;
    background-color: rgb(18, 18, 18);
    width: 100%; /* Full width */
    border-bottom: 3px solid rgb(10, 10, 10);
    font-size: xx-large;
    height: max-content;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: .5%;
    text-decoration: none;
    width: 15%;
    font-size: large;
    margin: 5%;
    margin-top: 1%;
    margin-bottom: .75%;
  }

  .displayBox{
    text-align: center;
  }

  .borderLinks{
    opacity: 0.6;
    transition: 0.125s;
    border-radius: 1vw;
    background-color: rgb(18, 18, 18);
  }

  .borderLinks:hover {
    opacity: 1;
    border: 2px solid White;
    margin-bottom: -.05px;  
    background-color: rgb(80, 80, 80);
}
  
  .topnav a.active {
    color: white;
    opacity: .9;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 1180px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 1180px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }