*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: rgb(18, 18, 18);
    background-attachment: fixed;
    color: rgb(255, 255, 255);
}

h1{
    margin-bottom: 20px;
}

footer{
  text-decoration: none;
  text-align: center;
  color: white;
  width: 80%;
  margin: auto;
  margin-top: 20%;
  padding: 1%;
  border-top: 2px solid rgb(80, 80, 80);
  margin-bottom: 3%;
}

.buttons{
  opacity: 0.6;
  transition: 0.125s;
  border-radius: 1vw;
  background-color: rgb(73, 73, 73);
  padding: 10px;
  text-decoration: none;
  color: white;
}
.buttons:hover{
  opacity: 1;
  border: 2px solid White;
  text-decoration: none;
  color: white;
  margin-bottom: -.05px;  
  background-color: rgb(80, 80, 80);
}

